@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FFBD69;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
}

button {
  background-color: #543864;
  border-radius: 10px;
  border-style: none;
  color: #FF6363;
  padding: 10px 25px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  font-family: 'Paytone One', sans-serif;
  font-size: 1.25rem;
}

button:hover {
  background-color: #202040;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #FF6363;
}

@media all and (max-width: 650px) {
  h1 {
    font-size: 5rem;
  }
}

p {
  font-size: 2rem;
  color: #FF6363;
  text-shadow: 1px 0.5px 0 #232931;
}

img {
  width: 50%;
  color: white;
}

footer {
  text-align: center;
}

footer p {
  font-size: 1.5rem;
  text-shadow: none;
}